<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
table {
	width : 800px;
}

tr {
	text-align:center;
}

#tdleft {
	text-align: left;
}
</style>
</head>
<body>
<div th:replace="/include/top"></div>

<section>
<br><br>
<div align="center">
  <h1> 회원목록 보기 </h1>
  <table border=1>
   <tr> <td align=center >회원번호</td><td align=center>회원명</td><td align=center>비밀번호</td>
        <td align=center>전화번호</td><td align=center>주소</td>
        <td align=center>가입일자</td><td align=center>등급코드</td><td align=center>도시코드</td></tr>
  
     <tr th:each="m : ${li}">
	     <td align=center><a th:href="@{/member/edit.do(custno=${m.custno})}"th:text="${m.custno}"></a></td>
	     <td align=center th:text="${m.custname}">
	     <td align=center th:text="${m.password}">
	     <td id=tdleft th:text="${m.phone}">
	     <td id=tdleft th:text="${m.address}">
	     <td align=center th:text="${m.joindateStr}" ></td>
	     <!-- A:VIP, B:일반, C:직원 -->
	     <td>
	     <span th:switch="${m.grade}">
		    <span th:case="A">VIP</span>
		    <span th:case="B">일반</span>
		    <span th:case="C">직원</span>
		 </span>
		 </td>
	     <td align=center th:text="${m.city}">
     </tr>
  </table>  
</div>
</section>
<div th:replace="/include/bottom::footer"></div>
</body>
</html>